<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-body p-4">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="mt-3">Request a demo</h4>
            <p>Please fill in the form and we’ll get in touch to discuss your needs and arrange a personalised demo.</p>
            <div id="{{targetId}}" class="hbspt-form"></div>
            <p class="mt-4 mb-0"><small>By submitting this form I hereby authorise Harmony Business Systems Ltd to use my details
                as submitted for the purpose of direct marketing its own products and services.
                This authorisation is limited to the purpose above and specifically excludes
                Harmony PSA sharing or selling my details with or to any external party for
                any other purpose whatsoever.</small></p>
        </div>
    </div>
</div>
<script type="text/javascript">
$(document).ready(function(){
    setTimeout(function() { $(".hs-input").addClass("LoNotSensitive"); }, 1000);
});
</script>