<header class="text-white">
    <div class="container">
        <div class="row">
            <div class="col-12 py-5">
                <h1 class="mb-4">HarmonyPSA Blog</h1>
                <p class="lead mb-0">The latest product releases, industry news & msp business</p>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row d-none d-md-flex">
        <div class="col-12 pt-4">
            <p class="mb-0">
                <strong class="d-none d-md-inline">Filter by:</strong>
                <a class="blog-link active" href="#">MSP Business</a>
                <a class="blog-link " href="#">ISV Business</a>
                <a class="blog-link " href="#">General PSA</a>
                <a class="blog-link " href="#">Release notes</a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-8 pt-4">
            <div class="row">
                <div class="col-12 mb-3">
                    <a href="#"><img src="/assets/blog/blog-001.jpg" class="img-fluid mb-3"></a>
                    <p>PSA benefits</p>
                    <h2><a href="#" class="text-dark">Just what is resource management?</a></h2>
                    <p>We have been debating this for ages, what do people really mean when they ask us, “Do you do... <a href="#">read more</a></p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 mb-3">
                    <a href="#"><img src="/assets/blog/blog-002.jpg" class="img-fluid mb-3"></a>
                    <p>Business</p>
                    <h2><a href="#" class="text-dark">How to differentiate your MSP business</a></h2>
                    <p>In the early days of Managed Service Providers, a standard operating model was followed. They could all act and... <a href="#">read more</a></p>
                </div>
                <div class="col-12 col-md-6 mb-3">
                    <a href="#"><img src="/assets/blog/blog-003.jpg" class="img-fluid mb-3"></a>
                    <p>Business</p>
                    <h2><a href="#" class="text-dark">How to differentiate your MSP business</a></h2>
                    <p>In the early days of Managed Service Providers, a standard operating model was followed. They could all act and... <a href="#">read more</a></p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 py-5">
                    <button class="btn btn-outline-dark">Load more</button>
                </div>
            </div>
        </div>
        <div class="d-none d-sm-block col-4 pt-4">
            <div class="input-group w-50 mb-5">
                <input type="text" class="form-control" placeholder="Search" aria-label="Blog article search input" aria-describedby="blog-search">
                <span class="input-group-addon" id="blog-search">{{fa-icon "search"}}</span>
            </div>
            <h6>Top results</h6>
            <ul class="list-no-bullet mb-5">
                <li class="mb-1"><a href="#">How to differentiate your MSP business</a></li>
                <li class="mb-1"><a href="#">Part Five: Why do PSA implementations fail?</a></li>
                <li class="mb-1"><a href="#">Part Four: Why do PSA implementations fail?</a></li>
                <li class="mb-1"><a href="#">Part Three: Why do PSA implementations fail?</a></li>
            </ul>
            <hr class="hr-dashed">
            <h6 class="mb-3">Subscribe to our mailing list</h6>
            <!-- form should go here -->
            <hr class="hr-dashed">
            <div class="mt-5">
                <h4><a target="_blank" href="https://www.capterra.com/p/133954/HarmonyPSA/" class="text-dark">
                    <img src="/assets/capterra-reviews-logo.png" class="pull-left mr-2 capterra-logo-sidebar">
                    Read our customer reviews {{fa-icon "fa-long-arrow-right" class="text-primary"}}
                </a></h4>
            </div>
            <div class="clearfix"></div>
            <hr class="my-5 hr-dashed">
            <h6>Categories</h6>
            <ul class="category-listing">
                <li><a href="#" class="badge badge-secondary">Automation</a></li>
                <li><a href="#" class="badge badge-secondary">Business</a></li>
                <li><a href="#" class="badge badge-secondary">Features</a></li>
                <li><a href="#" class="badge badge-secondary">Implementation</a></li>
                <li><a href="#" class="badge badge-secondary">Meet the team</a></li>
                <li><a href="#" class="badge badge-secondary">PSA benefits</a></li>
                <li><a href="#" class="badge badge-secondary">Release notes</a></li>
                <li><a href="#" class="badge badge-secondary">Technology</a></li>
            </ul>
            <div class="clearfix"></div>
            <h6 class="mt-5">Archives</h6>
            <ul class="archive-listing">
                <li><a href="#" class="text-dark">August 2017</a></li>
                <li><a href="#" class="text-dark">July 2017</a></li>
                <li><a href="#" class="text-dark">June 2017</a></li>
                <li><a href="#" class="text-dark">May 2017</a></li>
                <li><a href="#" class="text-dark">April 2017</a></li>
            </ul>
        </div>
    </div>
</div>
