<div class="container">
    <div class="row justify-content-center">
        <div class="col col-md-10">
            <h1 class="mb-4 mt-5">Privacy Policy</h1>
            <h3>Introduction</h3>
            <p>Harmony Business Systems Ltd is committed to respecting and protecting the privacy of visitors to our web site and to demonstrate our commitment to privacy, we have developed this privacy policy outlining the information we collect and how we use this information.</p>
            <h3>What information do we collect?</h3>
            <p>Our site uses an enquiry form that visitors can use to request information on our products and services. From this form we collect the visitor’s contact information such as email addresses, postal address and telephone numbers.</p>
            <h3>How do we use this information?</h3>
            <p>Information collected is used to help us analyse web traffic and improve the content of our web site. We use your contact information to send you information about our Company and to get in touch with you when necessary, or you may have requested us to contact you.  You may opt out of receiving future marketing mailings or communication from us; you will be given this choice at the points where we request your information and also on any emails we send you.</p>
            <h3>How secure is the information that we collect?</h3>
            <p>Harmony Business Systems follows industry standard security measures to prevent the loss, misuse and alteration of the information that is under our control.</p>
            <h3>Do we pass on information gathered to any third party?</h3>
            <p>Harmony Business Systems does not sell or disclose information obtained on-line about our visitors to anyone outside of the direct business stream unless the disclosure is; specifically authorised by you, required by law, or is necessary to protect the safety of customers, employees or property.</p>
            <h3>How do we protect the information that we have collected?</h3>
            <p>Harmony Business Systems shall endeavour to take all reasonable steps to protect any data you give to us via the web site including the use of encryption technology, but cannot guarantee the security of any data you disclose on-line over the Internet.  Harmony Business Systems accepts no liability or responsibility for any breach of security arising from this information.</p>
            <h3>Cookies</h3>
            <p>During the course of any visit to HarmonyPSA.com, the pages you see, along with a short text file called a ‘cookie’, are downloaded to your computer.  Information supplied by cookies can help provide a better online user experience and assist us to analyse the visitor profiles. A cookie is a small amount of data, which often includes an anonymous unique identifier that is sent to your browser from a website’s computer and stored on your computer’s hard drive.  Each website can send its own cookie to your browser if your browser’s preferences allow it, but (to protect your privacy) your browser only permits a web site to access the cookies it has already sent to you, not the cookies sent to you by other sites.</p>
            <p>For further information on cookies please visit https://www.aboutcookies.org.</p>
            <h3>Who to contact?</h3>
            <p>If you have submitted personally identifiable information through the Harmony Business Systems web site and would like that information deleted from our records, please contact us at info@harmonypsa.com</p>
            <p>We will use reasonable efforts to delete this information from our existing files.</p>
            <h3>Use and storage of your personal information</h3>
            <p>When you supply any personal information to Harmony Business Systems we have legal obligations towards you in the way we use those data.  We must collect the information fairly, that is, we must explain how we will use it and tell you if we want to pass the information on to anyone else.</p>
            <p>Harmony Business Systems Ltd is a registered data controller under the terms of the Data Protection Act 1998.  Harmony Business Systems ensures that all personal information supplied or created on our servers is held securely and will not be divulged to any party without their specific written authority.  Users of our software and/or products should also understand their own obligations under the data protection act.  Harmony Business Systems Ltd is not liable for any breaches of the data protection act made by customers of the system.</p>
            <h3>Access to your personal information</h3>
            <p>You have the right to request a copy of the personal information that Harmony Business Systems holds about you and to have any inaccuracies corrected.</p>
            <p>Please address such requests to:.</p>
            <p><strong>Harmony Business Systems Ltd, 1st Floor, 30 St Georges Road, Wimbledon, London SW19 4BD</strong></p>
            <h3>Users 16 and under</h3>
            <p>If you are aged 16 or under, you will need to obtain permission from your parent or guardian whenever you provide personal information to the Harmony Business Systems website.  Users without this consent are not allowed to provide us with personal information.</p>
            <h3>Links</h3>
            <p>We are not responsible for the content or privacy policies of any sites we may link to.</p>
            <h3>Policy changes</h3>
            <p>Any changes to this policy will be posted here.</p>
        </div>
    </div>
</div>
