<div class="container">
    <div class="row justify-content-center">
        <div class="col col-md-10">
            <h1 class="mb-4 mt-5">Standard Terms for the supply of HarmonyPSA and related products and services Version 1.4</h1>
            <h2>Part A - About this document</h2>
            <h3>Purpose</h3>
            <p><strong>1.1</strong> This document comprises the Standard Terms operated by Harmony Business Systems Ltd (HBS) for our supply of HarmonyPSA and related products and services.  This document is written to incorporate and be incorporated by the terms stated on an HBS Order Form and is intended to be read in conjunction with those Order Forms. </p>
            <p><strong>1.2</strong> This document includes generic clauses which apply in full to all forms of supply plus additional clauses written to support specific Contract Basis definitions described on the Order Form.  Where the Order Line cover more than one Contract Basis, the terms applicable to each Contract Basis are incorporated into the entire agreement, "The Contract"</p>
            <p><strong>1.3</strong> The Contract for supply and these terms are agreed and entered into by the signing of an Order Form.  Once signed, the Order Form, combined with these terms, together constitute the entire agreement between the parties named and for the supply detailed on that Order Form.</p>
            <p><strong>1.4</strong> At our discretion, we may elect to offer you on-line execution of Order Forms facilitated by our order processing platform.  On-line Approval of an Order Form by your nominated representative will carry the same authority and commitment as a signed Order Form.</p>
            <p><strong>1.5</strong> This version of the Standard Terms, Version 1.4, is applicable to all Order Forms signed after the 1st July 2017.  If the version number on the Order Form is not this version, please refer to the correct version for the Standard Terms applicable to the order.</p>
            <h2>Part B - Generic Clauses</h2>
            <h3>Definitions</h3>
            <p><strong>2.1</strong> "Order Form": any order for supply of software, goods and/or services signed by the customer as a commitment to purchase incorporated into and with these standard terms</p>
            <p><strong>2.2</strong> "Order Line": a line on the Order Form specifying either a purchase, an recurring charge, a consumption agreement, fund or a rate, all together with the specific Commercial and Contract Terms referenced to the line</p>
            <p><strong>2.3</strong> "Contract Basis": the basis upon which any software, goods and/or services are sold as specified on the Order Form for each item line included on that Order Form including any special terms and conditions also defined on the Order Form.  Clauses 10 onwards cover the special terms relevant to specific Contract Bases where certain Contract Basis are covered by more than one part of these terms </p>
            <p><strong>2.4</strong> "Commercial Terms": the specific product behaviours shown on the Order Form, by reference to each order line.  Generally the Commercial Terms specify billing events, renewal and indexation rules</p>
            <p><strong>2.5</strong> "Contract Terms: the specific contract behaviours, incorporated into these Standard Terms through the execution of an Order Form.  Where a difference exists between the Contract terms and these Standard Terms, the Contract Terms take precedence  </p>
            <p><strong>2.6</strong> "Confidential Information": the following information regardless of how it is communicated:</p>
            <ol>
                <li>the pricing of any services performed or to be performed under The Contract;</li>
                <li>trade secrets or know-how;</li>
                <li>technical data or specifications, commercial information or data or ideas belonging to the person who has communicated the information (or someone with whom it has a business relationship) or relating to its/their business or affairs, the release of which could either be damaging to any of them or be advantageous to its/their rivals or to others; and</li>
                <li>any other information which the person receiving it should realise is confidential when considered in the context of the industry in which the person who has communicated the information is involved.</li>
            </ol>
            <p><strong>2.7</strong> "IPR": all intellectual property rights arising by virtue of or in relation to copyright, database rights, patents, trade-marks (registered or unregistered), applications for any of the foregoing, trade secrets and know-how and any other similar rights in any country.</p>
            <p><strong>2.8</strong> "Subsidiary" and "Group Company" have the meanings ascribed by section 1159 of the Companies Act 2006.</p>
            <p><strong>2.9</strong> "You" and "Your": the customer referred to on a signed Order Form.</p>
            <p><strong>2.10</strong> "We" and "Us": Harmony Business Systems Limited, its employees, agents and successors.</p>
            <p><strong>2.11</strong> "The Software": HarmonyPSA, also known as Harmony, a product developed, owned, marketed, sold and supported by us for the control and operation of a customer’s business.</p>
            <p><strong>2.12</strong> "SAAS": a licensed version of HarmonyPSA running on an outsourced hosted environment operated and controlled by us on your behalf.</p>
            <p><strong>2.13</strong> "On-premise": a licensed version of HarmonyPSA running on an environment operated and controlled by you.</p>
            <p><strong>2.14</strong> "Data Controller": a person or organisation who determines the purpose of the processing of personal data.  In the context of these Standard Terms, you remain, at all times, the Data Controller for your data.  If you store personal data in The Software, you must be aware of, be registered for (where applicable) and comply with the local legislation regarding the actions of a Data Controller.</p>
            <p><strong>2.15</strong> "Data Processor": a person or organisation or an environment that acts on the instructions of the Data Controller to assist in the processing of data.  When requested by you to assist in the processing of data, we may act on your authority as a Data Processor on your behalf to enact your written instructions with regard to the processing of your data.</p>
            <p><strong>2.16</strong> "Hosting Provider": an organisation that provides the physical or virtual environment the The Software operates on.  The Hosting Provider is contracted by the Data Processor (and/or us) to operate the environment for services covered by Part D to this agreement</p>
            <h3>Interpretation</h3>
            <p><strong>3.1</strong> The clause headings in The Contract are for ease of reference only and are not intended to influence its meaning.</p>
            <p><strong>3.2</strong> Any phrase that starts with ‘including’, ‘in particular’, ‘for example’, ‘e.g.’, ‘such as’ or any similar expression is just giving examples and is not a complete list.</p>
            <p><strong>3.3</strong> Where the terms and conditions on the Order Forms, described under "Commercial Terms", "Contract Terms" and/or the Order Form signature footer conflict with these standard terms, the terms specified on the Order Form will prevail.</p>
            <p><strong>3.4</strong> A reference to a statute (or a section of a statute) shall include any modification or re-enactment in force from time to time and any statutory instrument or regulations made under the relevant statute.</p>
            <p><strong>3.5</strong> Companies shall be considered to be in a group if one is a Subsidiary of the other or both are Subsidiaries of a third company.</p>
            <h3>Data Protection Overview</h3>
            <p><strong>4.1</strong> The conditions covering our actions as a Data Processor on your behalf are detailed in Part F of this document.  However, in summary, where we process personal data as a Data Processor on your behalf as part of the provision of services under The Contract, we will:</p>
            <ol>
                <li>Only act on your instructions as the Data Controller; </li>
                <li>comply with your instructions in relation to the processing of the personal data; and</li>
                <li>take all appropriate technical and organisational measures against unauthorised or unlawful processing of personal data and against accidental loss or destruction of,  or damage to, personal data in accordance with the requirements of the seventh data protection principle in Schedule 1 of the Data Protection Act 1998; and</li>
                <li>for data originating in the European Economic Area, we will not transfer your personal data outside said area except with your prior written consent and in accordance with any terms you may impose on such transfer.</li>
            </ol>
            <p><strong>4.2</strong> We will comply with any information notice you serve on us asking us to provide you with such information as you may reasonably require relating to our compliance with our obligations under clause 4.1.</p>
            <p><strong>4.3</strong> You agree that your responsibilities in relation to personal data in respect of which we are the Data Controller are equivalent to those imposed on us by clauses 4.1 and 4.2.</p>
            <h3>Confidential Information</h3>
            <p><strong>5.1</strong> We shall maintain the confidentiality of your Confidential Information and shall not use or disclose any of it without your prior written consent except as referred to in clause 5.2 or where it is necessary to fulfil our obligations under The Contract or where it is required by law.</p>
            <p><strong>5.2</strong> We will only disclose your Confidential Information to our group companies and to those of our officers, staff and professional advisors who need it in order to fulfil The Contract or to give professional advice.</p>
            <p><strong>5.3</strong> You agree that your responsibilities in respect of our Confidential Information are equivalent to those imposed on us by clauses 5.1 and 5.2.</p>
            <p><strong>5.4</strong> Clauses 5.1, 5.2 and 5.3 will still apply after The Contract ends, except to information which has lost its necessary quality of confidence other than as a result of a breach of clauses 5.1, 5.2 or 5.3 or a disclosure made by someone else in breach of any other obligation of confidence.</p>
            <p><strong>5.5</strong> You agree that we may name you as a customer in a general context.  Subject to your prior approval of the wording to be used (such approval not to be unreasonably withheld or delayed), you also agree that we may use your name in publicity material (such as case studies) which makes reference to you as a user of The Software.  You also agree to accept reference calls from potential customers, providing we contact you and arrange such access up front and by agreement.</p>
            <h3>No Poaching</h3>
            <p><strong>6.1</strong> While The Contract is in force and for a period of six months after it has come to an end, you will not, directly or indirectly, seek to employ or otherwise engage the services of any of our representatives, whether they are staff employees or sub-contractors, who have been involved in the performance of The Contract during the preceding six month period.  Any waiver of this prohibition will only be effective if it is made in writing and signed by one of our authorised representatives and once payment has been made by you to us of a sum equal to three months’ basic salary for the relevant member of staff, or 60 times the sub-contract day-rate for sub-contractors, at the rate we are paying them at the time the waver is signed, or were paying when they left our employ.  This is considered by you and by us to be a genuine pre-estimate of the loss we would suffer in these circumstances.</p>
            <p><strong>6.2</strong> We agree that our responsibilities in relation to your staff and sub-contractors are equivalent to those imposed on you by clause 6.1</p>
            <h3>Limitations of Liability</h3>
            <p><strong>7.1</strong> We accept unlimited liability for:</p>
            <ol>
                <li>death or personal injury caused by our negligence; and</li>
                <li>any claim based on fraud.</li>
            </ol>
            <p><strong>7.2</strong> Save with respect to any liability referred to in clause 7.1; under no circumstances shall we be liable for any indirect, incidental, consequential or special loss or damage.</p>
            <p><strong>7.3</strong> Subject always to clause 7.2 and save as stated in clause 7.1 and clause 15.2, our aggregate liability for all defaults in respect of any Order Form will not in any event exceed a sum equal to the total purchases plus one year’s annual fees due under that Order Form.  In this clause, default means any act, statement, omission or negligence on our part in connection with, or in relation to, an Order Form or the relationship established by that Order Form</p>
            <h3>Termination and Novation</h3>
            <p><strong>8.1</strong> We may terminate provision of goods and/or services under an Order Form at any time with immediate effect by giving you written notice if:</p>
            <ol>
                <li>you have committed a material breach of The Contract and, in the case of a breach which is capable of being put right, you have failed to remedy that breach within 30 days of receiving from us a written request that you should do so; or</li>
                <li>an order is made or a resolution is passed for your winding-up or circumstances arise which entitle a court of competent jurisdiction to make a winding-up order in respect of you; or</li>
                <li>an order is made for the appointment of an administrator to manage your affairs, business and property or documents are filed with a court of competent jurisdiction for the appointment of an administrator of you or notice of intention to appoint an administrator is given by you or your directors or by a qualifying floating charge holder (as defined in paragraph 14 of Schedule B1 to the Insolvency Act 1986); or </li>
                <li>a receiver is appointed of any of your assets or undertaking or if circumstances arise which entitle a court of competent jurisdiction or a creditor to appoint a receiver or manager in respect of you or if any other person takes possession of or sells your assets; or </li>
                <li>you make any arrangement or composition with your creditors or make an application to a court of competent jurisdiction for the protection of your creditors in any way; or</li>
                <li>you cease to trade; or</li>
                <li>anything equivalent to the circumstances described in clause 8.1 happens in a jurisdiction other than England.</li>
            </ol>
            <p><strong>8.2</strong> You may terminate The Contract with immediate effect by giving us written notice if any of the circumstances listed in clause 8.1 apply in respect of us rather than you.</p>
            <p><strong>8.3</strong> In the event of termination under 8.1; </p>
            <ol>
                <li>any work in progress time and expenses, at the rates described on the Order Form or in the event of a Fixed Price, at our standard rates, incurred by us up to the date of termination will fall due for immediate payment;</li>
                <li>all annual charges that would have been due in return for the provision of service up to the renewal date of the contract (had it not been subject to early termination) will fall due for immediate payment; and </li>
                <li>any terms of The Contract which are expressly or by implication intended to come into force or continue in effect on or after termination (e.g. clauses 5 and 7) shall come into force or continue in effect as intended.</li>
            </ol>
            <p><strong>8.4</strong> We may novate The Contract to another provider at any time by providing you with written notice of the change.  The novation to another provider is considered to be pre-approved by you providing the service offering does not change in any material way and/or the novation does not impact the operation of your business.  A novation satisfying these criteria therefore does not constitute an opportunity for you or us or our successors to terminate The Contract prematurely.</p>
            <h3>General</h3>
            <p>These Standard Terms and the Order Forms together represent The Contract, the entire agreement and understanding between you and us relating to the provision of software and/or services; it completely replaces any previous Contract or understanding between you and us on that subject.  Subject to clause 7.1, you acknowledge that in entering into The Contract you have not relied on any representation or statement (written or oral) made by any person other than those statements actually set out on the Order Form and thus in The Contract.  You also acknowledge that, in respect of the representations and statements which are actually set out herein, your only remedy shall be for breach of contract under the terms herein.</p>
            <p><strong>9.2</strong> You agree that you are responsible for ensuring the accuracy of the terms and detailed content of the Order Form which becomes binding once signed or approved on-line as may be the case.  Should you request a change or the correction of any error after signing the Order Form and making that change incurs costs or losses on our part, you will be liable to cover those costs in full.  We will notify you of any potential costs upon receipt of the instruction to change the Order Form.</p>
            <p><strong>9.3</strong> You acknowledge that all advice, instructions or recommendations made by us as part of the pre-sale process was dependent on the information you have provided to us.</p>
            <p><strong>9.4</strong> The terms of The Contract have been agreed between us in place of all warranties, conditions, undertakings, terms and obligations concerning the subject matter of The Contract which might have applied were it not for this clause.</p>
            <p><strong>9.5</strong> No variation of The Contract shall be valid unless it is in writing, it clearly states that it varies The Contract and it is signed by authorised representatives of both sides.  In particular, your standard purchase order terms from time to time shall be of no effect even if your Purchase Order reference is included on the Order Form or any subsequent Invoices we raise.</p>
            <p><strong>9.6</strong> A failure to exercise or a delay in exercising any right or remedy provided by The Contract or by law shall not amount to a waiver of that right or remedy.  If any effective waiver is made, however, that waiver shall not amount to a waiver in respect of any other breach.</p>
            <p><strong>9.7</strong> If any term of The Contract is or becomes invalid or unenforceable, that invalidity or unenforceability shall not affect the other terms of The Contract which shall remain in full force and effect.</p>
            <p><strong>9.8</strong> If any term of The Contract is or becomes invalid or unenforceable but would be valid or enforceable if some part of it were deleted, the term in question shall apply with such modification as may be necessary to make it valid or enforceable.</p>
            <p><strong>9.9</strong> No delay, failure or default in performing any obligation under The Contract shall amount to a breach of contract if it arises from causes beyond the reasonable control of the person whose performance is affected.  However, nothing in this clause will excuse you from any payment obligations.</p>
            <p><strong>9.10</strong> All notices which must be given under The Contract must be in writing and must be sent to our/your then current registered office.  Any notice must be delivered personally or sent by first class pre-paid recorded delivery.  It will be deemed to have been served, at the time of delivery if delivered personally, or two days after posting if sent by first class pre-paid recorded delivery.</p>
            <p><strong>9.11</strong> It is only you and us who shall be entitled to enforce The Contract.  No other person shall have any right under the Contracts (Rights of Third Parties) Act 1999 or otherwise to enforce any term of The Contract.</p>
            <p><strong>9.12</strong> You may not transfer or hold in trust any of your rights or obligations under The Contract.</p>
            <p><strong>9.13</strong> The Contract shall be governed by and interpreted in accordance with English law.  We both agree that only the English courts shall have jurisdiction in relation to any claim or matter arising under or in connection with The Contract or the legal relationship established between you and us by The Contract and we each agree that we shall not be entitled to change this decision giving jurisdiction to the English courts.</p>
            <h2>Part C - License Clauses</h2>
            <h3>License Applicability</h3>
            <p><strong>10.1</strong> The clauses under this section are applicable to Order Lines where the Contract Basis specified is either "License", "Software As A Service", "SAAS" or "Support".</p>
            <h3>License Classes</h3>
            <p><strong>11.1</strong> The Software is licensed on a per named user basis using the following unit definitions, as specified on the Order Form:</p>
            <ol>
                <li>"Blended User" or "Control User"; are named users with rights to use all the functionality in The Software;</li>
                <li>"Base User"; is a named user whose functional rights are limited as specified on the Order Form; and</li>
                <li>"External User"; is a named user whose rights are controlled by the functionality delivered via the customer portal.</li>
            </ol>
            <h3>License Grant</h3>
            <p><strong>12.1</strong> We grant you and your External Users a non-exclusive license to use The Software up to the cumulative quantity limits specified on the Order Form plus previous active Order Forms in the quantity limit measure specified.  Herein an active Order Form refers to one that has not expired, been cancelled or terminated for breach.</p>
            <p><strong>12.2</strong> You can use The Software as described in The Contract.  You will not have any other rights in relation to The Software and you will not become the owner of the IPR in it.</p>
            <p><strong>12.3</strong> In your use of The Software, you are responsible for staying within the quantity limits for which you have a license grant with the following additional considerations:</p>
            <ol>
                <li>any individual who is named in The Software as a user will count as a user regardless of whether they access The Software or not and will remain a user until archived; and</li>
                <li>you may only use The Software for your own internal business purposes.  For example, you may not use it to provide application service provider services, bureau services, marketing, training, consulting or any other commercial service related to or based on The Software.</li>
            </ol>
            <p><strong>12.4</strong> Your rights of use may only be brought to an end as described in clause 8 or at the end of the Minimum Term or any anniversary thereof by providing due notice as defined on the Order Form.  Failure to provide due notice as specified on the Order Form will automatically renew the contract for another year at the then applicable user licensed quantity.  </p>
            <p><strong>12.5</strong> User numbers may be increased at any time by requesting us to raise an incremental Order Form but a reduction in user numbers may only be made at the end of the Minimum Term or on the anniversary thereof subject always to any minimum usage numbers and other conditions specified on the Order Form.</p>
            <p><strong>12.6</strong> If the License grant is On-premise, we need to agree details of the environment on which you want to run The software (i.e. operating system, database, hardware, IP address) in order to provide you with your service entitlement under The Contract.  For this reason, your right to use The Software is restricted to a right to use it only on a platform of which you have given us written details in advance.  You agree to provide us with access to your operating environment for the purpose of upgrades or modifications to the license key.</p>
            <p><strong>12.7</strong> You may not modify the source code of The Software or translate it but you may alter the objects (i.e. the definitions of permitted operations) via the user interface or any published API.</p>
            <p><strong>12.8</strong> You may not reverse engineer, decompile or disassemble any of The Software except in circumstances where you have a statutory right to do so.</p>
            <p><strong>12.9</strong> You may only use The Software to run one production system.  We will, upon request, provide (if SAAS), or you may install (if On-premise), a copy of The Software as a second test system.  We reserve the right to charge for such action as may be included on the Order Form at the time.  When copying software, you must include the original machine-readable ownership notices (e.g. the copyright notice) and, when copying it onto tangible media, affix a label to the media identifying The Software and stating: "This medium contains an authorised copy of software which is the property of Harmony Business Systems Limited".</p>
            <p><strong>12.10</strong> You may add a Subsidiary or Group Company to enable them to use The Software in accordance with the terms of The Contract but you must tell us in writing before its use starts and its rights of use shall only last while it remains one of your Subsidiaries or Group Companies.  Since our contract is with you, we will hold you responsible for any non-compliance with the terms of The Contract by any of your Subsidiaries or Group Companies.  At all time you will be responsible for the fees relating to subsidiaries or Group Companies use of the Software.  </p>
            <p><strong>12.11</strong> If you engage a third party for data processing, consulting or product customisation services, then you may permit that third party to have access to and use of The Software, so long as you have told us in writing before its use starts, but it may only use The Software in accordance with the terms of The Contract and for the purposes of providing services to you (in particular, the combined use of The Software by you and the third party must stay within the limits of use for which you have paid as described in clause 12.3).  Since our contract is with you, we will hold you responsible for the third party’s compliance with the terms of The Contract and on completion of the third party’s services, you must certify that the third party has un-installed and destroyed all copies of The Software within 30 days.</p>
            <p><strong>12.12</strong> Subject to clauses 12.10 and 12.11, you may not lease, loan, resell, sub-license or otherwise distribute The Software.</p>
            <p><strong>12.13</strong> We may inspect the platform on which The Software is running for the purpose of confirming your compliance with The Contract and your usage grant.  We may do this, after providing reasonable notice and in agreement with you, either remotely or by an on-site visit.  If use is discovered which does not correspond with the use authorised by The Contract and the related Order Forms, you will bear the reasonable costs of our audit, pay all past-due fees and either discontinue such unauthorised use or pay the appropriate fees to permit continuation of that use.  Where environment access needs to be granted to us for this purpose (for On-premise use), you will provide that access on request within a reasonable timeframe.  Failure to provide such access in a reasonable manner will constitute a breach of the contract under clause 8.1(a).</p>
            <h3>Payment</h3>
            <p><strong>13.1</strong> All fees quoted on the Order Form are exclusive of Value Added Tax, or other applicable sales tax.  All payments must be made in the currency of the Order Form within the payment terms specified.  We reserve the right to require payment be made by Credit Card or other payment method providing such payment method change is at no cost to you.  The payment method stated on the Order Form may be changed by us unilaterally in the future without requiring a modification of The Contract. </p>
            <p><strong>13.2</strong> You may NOT use The Software in production without payment having been received by us prior to use.  Payment must be received before Commencement of Service.  Where invoices have not been paid in full before use commences or continues, we have the right to suspend the instance, without notification or notice, until payment is received.  Where we act to suspend an instance for late payment, we may charge a fee of £100 (or equivalent amount in The Contract currency) to cover the work required to reinstate your production use.  This fee must be received by us, along with any over-due license fees, before production use is reinstated.</p>
            <p><strong>13.3</strong> Failure to pay License Fees on time does not constitute an opportunity to void cancellation terms on the Order Form.  Irrespective of payment terms or lack of usage by you of The Software, the License fees due under the contract up to the point of renewal or other break clause as may be present on the Order Form, are due in full, according to the payment schedule, once the Order Form is either signed or approved on-line.</p>
            <p><strong>13.4</strong> The fees payable for your rights of use of The Software are stated under the "Annual Value" column on the Order Form. The timing of billing and payment terms for these fees is specified under the Commercial Terms related to the Order Line describing the item.</p>
            <p><strong>13.5</strong> The Software is licensed for use and license fees are due on an annual basis from the point where the environment is ready for your use or the code is released to you for installation on your environment (for On-premise Licenses), the "Commencement of Service".  </p>
            <p><strong>13.6</strong> If you place an incremental order part-way through a service year, the fees due in respect of that Order Form will be pro-rated until the end of the then current service year.</p>
            <p><strong>13.7</strong> Unless otherwise stated on the Order Line Commercial Terms and providing your use of The Software is continuous and your payments are made on time, we may only increase the License Fees with effect from the anniversary date of the Commencement of Service by the prevailing UK Consumer Prices Index. </p>
            <h3>Third-party Software</h3>
            <p><strong>14.1</strong> In the case of third party software (meaning software which we are authorised to market and distribute but in respect of which we are not the IPR owner), you may need to accept and execute a separate license agreement with the software manufacturer in addition to The Contract before we can process the Order Form where this is stated to be the case on the Order Form.  In these cases, clauses 11, 15 and 16 of The Contract will not apply because the relevant topics will be governed by that separate license agreement.  In the event of any conflict between any other terms of The Contract and that separate license agreement, the terms of the separate license agreement will prevail.  We confirm that all fees relating to orders for such third party software under The Contract will be included within the sums payable by you to us under the relevant orders and that there will be no additional charges from the manufacturer.</p>
            <h3>IPR Indemnity</h3>
            <p><strong>15.1</strong> You will not become the owner of any of the IPR which arise by virtue of us performing our service obligations under The Contract but, in respect of software fixes and new releases delivered under The Contract, you will have the same rights of use as you do in respect of The Software to which they relate. </p>
            <p><strong>15.2</strong> If any claim is brought or threatened against you alleging that your use or possession of any of the items supplied to you under The Contract in accordance with the terms of The Contract infringes the IPR of the person making the claim then we shall defend that claim at our own expense and indemnify you against all damages and costs awarded against you or agreed by us by way of settlement as long as the claim does not arise in any of the circumstances described in clause 14.4 and provided that:</p>
            <ol>
                <li>you inform us promptly and fully in writing of the claim and you do not concede or otherwise prejudice that claim;</li>
                <li>you authorise us to assume sole conduct of the dispute with the claimant both in and out of court; and</li>
                <li>at our sole cost, you give us all reasonable help.</li>
            </ol>
            <p><strong>15.3</strong> As long as you comply with the provisos listed in clause 15.2, if the use or possession of any of the items supplied to you under The Contract in accordance with the terms of The Contract infringes, or in our reasonable opinion may be held to infringe, the IPR of the claimant, we shall at our expense either procure for you the right to continue to use those items or adapt or replace them to avoid the infringement (without materially detracting from their functionality), whichever we think is best.  In the case of the latter remedy, you have the obligation to accept the release that eliminates the infringement.</p>
            <p><strong>15.4</strong> We shall have no obligation under clause 15.2 to the extent that any claim arises as a result of:</p>
            <ol>
                <li>any act or omission by you which is not authorised by The Contract; or</li>
                <li>the use of the items supplied to you under The Contract in combination with any product or data not supplied by us; or</li>
                <li>any modification to the items supplied to you under The Contract which has been made by someone other than us; or</li>
                <li>your specific refusal, following due notification and explanation as described in 15.3, to accept an upgraded release that eliminates the infringement</li>
            </ol>
            <p><strong>15.5</strong> This clause 15 sets out your sole remedies if there is a breach (or alleged breach) of anybody else’s IPR.  All other rights are excluded.</p>
            <h3>Warranties</h3>
            <p><strong>16.1</strong> We warrant that The Software, as delivered, will operate substantially in conformity with the on-line help text documentation for a period of 90 days from delivery if used in accordance with that documentation and the terms of The Contract.  We do not warrant that The Software will operate uninterrupted or that it will be error-free.  </p>
            <p><strong>16.2</strong> The Software is a generic product designed to be configured by you for your use.  It has not been developed solely to meet your individual requirements and as such we do not warrant that it is fit for your particular purposes.  In selling you The Software, we have relied on your description of your business operations and your discovery process to ensure that The Software will perform for you adequately (including any such trials as you may have entered into prior to purchase).  The discovery of issues or drawbacks relating to the operation of your business using The Software do not, under any circumstances, constitute a reason to amend the cancellation terms on the Order Form.</p>
            <p><strong>16.3</strong> The Software is designed to run on a web browser, software that we have no control over.  We will make recommendations relating to the applicability of commercially available browser software and versions thereof that we believe The Software is compatible with but we do not warrant this compatibility. </p>
            <p><strong>16.4</strong> If you want to make a warranty claim, you must notify us of that fact within the 90-day period.  In the first instance, our sole obligation shall be to remedy the defect.  The remedy will take the form of eliminating the defect, providing a new release or demonstrating how to avoid the effects of the defect in a reasonable manner.  You must support us in locating any defect and its cause by: </p>
            <ol>
                <li>ensuring the co-operation of your staff;</li>
                <li>providing remote access to The Software and the platform on which it functions; and</li>
                <li>providing as detailed a description of the defect as possible.</li>
            </ol>
            <p><strong>16.5</strong> If we should fail to remedy a defect within a reasonable period of time, we shall agree with you in writing a reasonable course of action, including a date by which the defect should be remedied.  Only if we should fail to remedy the defect by that agreed date, will you be entitled to seek damages; claims for damages are governed by clause 7.  All other rights are excluded.</p>
            <p><strong>16.6</strong> Where we have carried out work in response to a warranty claim but, upon investigation, it turns out that the subject matter of the claim was neither a breach of warranty nor covered by your customer services entitlement under The Contract, you will have to pay us at our then standard professional services rates for that work and reimburse at cost any travel and subsistence expenses we have incurred.</p>
            <p><strong>16.7</strong> We warrant that we will perform your service entitlement under The Contract with reasonable skill and care.</p>
            <h3>Support Services</h3>
            <p><strong>17.1</strong> Subject to the fees being paid when due (see clause 13), we will provide the services described on the Order Form and in this clause from the Commencement of Service until:</p>
            <ol>
                <li>the provision of that service is brought to an end by you giving us (or by us giving you) written notice of termination as defined on the Order Form; or</li>
                <li>the contract is brought to an end prematurely (see clause 8).</li>
            </ol>
            <p><strong>17.2</strong> If no notice of termination (or user count reset) is received by the notice date, the service will renew for a further year automatically at the same quantity level.</p>
            <p><strong>17.3</strong> The service offering is twofold:</p>
            <ol>
                <li>we will supply all new general availability releases of The software products that you have ordered under The Contract;</li>
                <li>we will provide troubleshooting support for The Software on the terms set out in clauses 17.4 – 17.14</li>
            </ol>
            <p><strong>17.4</strong> Troubleshooting support will be available during the hours of 9am to 5.30pm (UK time zone) Monday to Friday (excluding bank or public holidays) to nominated members of your staff.  You must notify us in writing of the identity of your nominated representatives from time to time.</p>
            <p><strong>17.5</strong> When you are experiencing problems with The Software or need advice on its use, one of your nominated representative should log a service request straightaway using our then current procedures (either by phone, email or registering the problem on the customer portal).  Service requests will be progressed by us providing you respond to our comments using our designated procedures.</p>
            <p><strong>17.6</strong> All service requests will be assigned a priority level as agreed between our customer care team and your nominated representatives.  The priority level may be amended by mutual agreement after initial investigatory work.  The priority levels are defined as follows:</p>
            <ol>
                <li>Priority 1: Critical - the issue has resulted in The Software not being available or able to process</li>
                <li>Priority 2: Urgent - the issue has a serious effect on your day-to-day efficiency and productivity</li>
                <li>Priority 3: General - the issue is not critical and you can process but it does need to be addressed at some point</li>
                <li>Priority 4:	Request - the issue relates to a potential change in the manner in which The Software operates</li>
            </ol>
            <p><strong>17.7</strong> We will respond to a service request during the hours stated in clause 17.4 in accordance with the service levels set out below in an effort to answer your query or supply information on how to remedy, avoid or bypass a reported problem as soon as practicable but we do not guarantee a resolution within these timeframes.  It is your responsibility to implement any software remedy or workaround that we provide unless you have engaged us to do so.  The service levels for our response are:</p>
            <ol>
                <li>Priority 1: Within 30 minutes</li>
                <li>Priority 2: Within 1 hour</li>
                <li>Priority 3: Within 1 day</li>
                <li>Priority 4: Within 3 days</li>
            </ol>
            <p><strong>17.8</strong> Wherever possible, we will deal with service requests on a remote basis.  Where this is not possible, we may be able to provide on-site support but this will be at an additional charge; the charging structure will be agreed with you prior to any call-out proceeding.  Our staff will comply with your security procedures and health and safety regulations whilst on your site so long as these are brought to their attention but we will not be responsible for any delays caused as a result of any need to comply with these procedures and regulations.</p>
            <p><strong>17.9</strong> We will have no obligation to provide support where problems arise from:</p>
            <ol>
                <li>any modifications to The Software carried out by anyone other than us;</li>
                <li>use of The Software in combination with products which are not supported by us and which we have not approved in advance for use in combination with The Software;</li>
                <li>installation or relocation of The Software by anyone other than us;</li>
                <li>any failure by you to implement in a timely fashion any software remedy or workaround we have provided pursuant to clause 17.7; </li>
                <li>any breach of your obligations under The Contract; or</li>
                <li>for On-premise licenses, any fault or failure of the environment built by you to operate The Software on</li>
            </ol>
            <p><strong>17.10</strong> Your service entitlement under The Contract does not include electrical or other environmental work external to The Software or the recovery or reconstruction of any lost or spoiled data or software</p>
            <p><strong>17.11</strong> We will only provide troubleshooting support if you are using the release which has most recently been supplied under clause 17.3 (a) or the release which was supplied immediately prior to that</p>
            <p><strong>17.12</strong> You must actively co-operate with us in the provision of troubleshooting support; in particular, you must provide such information as we may from time to time reasonably require in order for us to be able to reproduce any reported problem.  Failure to provide the required information will result in the service request being closed.</p>
            <p><strong>17.13</strong> If you are operating The Software On-premise, you may need to provide us with remote access to the platform on which The Software is installed for fault finding and resolution.  In this event, we agree to comply with all reasonable environment access procedures you specify including post-resolution data purging if requested.  In all cases where you operate the environment, you will be responsible for managing our access and we will not be responsible for the time it takes your staff to enable the access.</p>
            <p><strong>17.14</strong> Where we have carried out work in response to a service request but, upon investigation, it turns out that the query or problem logged was excluded from or not covered by The Contract, you will have to pay us at our then standard professional services rates for that work and reimburse at cost any travel and subsistence expenses we have incurred.</p>
            <h2>Part D - Hosting Clauses</h2>
            <h3>Hosting Applicability</h3>
            <p><strong>18.1</strong> The clauses under this section are applicable to Order Lines where the contract basis is "SAAS", "Software As A Service" or "Hosting".  For data processing responsibilities, also incorporated in the sale of these services, see Part F below.</p>
            <h3>Hosted Environment</h3>
            <p><strong>19.1</strong> We will install The Software on a hosted environment provided by a third party ("Hosting Provider" ) and assist you to configure it for your use using our best endeavours to provide the live environment.</p>
            <p><strong>19.2</strong> We will be responsible for keeping daily backups of all material and data contained in the environment.  Our retention period for data back-ups is two days.  Upon request, we can restore your system to the state expressed by the last or last but one back-up.  We reserve the right to charge you for this restore unless the need arose from a failure of The Software or the hosted environment. </p>
            <p><strong>19.3</strong> We reserve the right to:</p>
            <ol>
                <li>at any time and from time to time to amend, improve or correct the environment including The Software and/or hardware (or any part thereof) provided that such modification does not materially affect them.  This includes the right to substitute the hardware with hardware of similar specification, where necessary.  We shall endeavour to give you reasonable notice of such modifications but this may not always be possible and we shall not be liable to you or to any third party for any such</li> <li>modification or any failure to give such notice; and</li>
                <li>at our sole discretion to suspend the environment (temporarily or permanently) on the occurrence of any unscheduled maintenance or any of the following: (i) notified maintenance; (ii) issue by any competent authority of an order which is binding on us and which affects the environment; (iii) if the you fail to pay any amounts due under the Contract when they are due as detailed in clause 13.</li>
            </ol>
            <p><strong>19.4</strong> You will:</p>
            <ol>
                <li>notify us immediately if you become aware of any unauthorised use of all or any of the environment, The Software, and/or hardware;</li>
                <li>ensure that all usernames and passwords are at all times kept confidential, used properly and not disclosed to unauthorised people and if the you have any reason to believe that this information has become known to someone not authorised to use it or if this information is being or is likely to be used in an unauthorised way or of any other breach of security then the you shall inform us immediately; and</li>
                <li>be entirely liable for all activities conducted and charges incurred under your usernames and passwords whether authorised by you or not and you acknowledge that we shall not be liable for any loss of confidentiality or for any damages arising from your failure to comply with these terms.</li>
            </ol>
            <h3>Hosting Fees</h3>
            <p><strong>20.1</strong>You shall pay the agreed set-up fee (if any) in accordance with the agreed payment terms in advance of the environment going live as set out in the Order Form.  You shall then pay the agreed hosting fees from the point the environment is available for use, the "Commencement of Service".</p>
            <p><strong>20.2</strong> Failure to pay the hosting fees within the payment period specified on the Order Form is automatically (i.e. without a requirement to notify) a material breach of contract and may lead to termination under the terms of 8.1(a) and 8.3(b).  We reserve the right to suspend the provision of service during and until the end of, the period of remedy provided for this breach all as generally stated in Clause 13.</p>
            <p><strong>20.3</strong>The price includes permitted data storage up to any limit that might be stated in the Order Form.  If you exceed this limit then we reserve the right to make additional charges for usage above the limit at the rate stated on the Order Form.  We will let you know if your storage use exceeds the agreed level if one is specified.  If no storage limit is specified on the Order Form, we reserve the right to include one (subject to 90 days written notice).  If the imposition of such storage limitations increases your Hosting fees at the end of the notice period, you will have a one-time the right to early termination of The Contract on that date.</p>
            <p><strong>20.4</strong> All fees quoted to you for the provision of the environment are exclusive of any value added tax for which you may be additionally liable at the applicable rate.</p>
            <h3>Service Level and Disruptions</h3>
            <p><strong>21.1</strong> We shall provide the environment such that actual level of performance is equal to or higher than the associated Agreed Service Level (if any). Further we shall manage the environment with reasonable skill and care. All other conditions, warranties or other terms whether express or implied, statutory or otherwise are hereby expressly excluded to the fullest extent permitted by law and without limit to the foregoing.  We do not represent or warrant that: </p>
            <ol>
                <li>the environment will meet the your requirements;</li>
                <li>the environment will be uninterrupted, timely, secure, or error-free;</li>
                <li>any results obtained from using the environment will be accurate, complete or current</li>
            </ol>
            <p><strong>21.2</strong>You will promptly, following discovery of service disruption, notify us and we will then use our best endeavours to rectify such service disruption as soon as reasonably practicable</p>
            <p><strong>21.3</strong>Upon the occurrence of any service disruption lasting longer than 4 hours we shall, subject to you continuing to perform your obligations under the contract, credit your account with a rebate, on a prorate basis, for the time the environment was unavailable.  This credit is your only recourse under the contract for a gap in service being a reasonable pre-estimate of your direct financial loss associated with the service disruption.</p>
            <p><strong>21.4</strong> In the event that you have reason to make a complaint about the quality or performance of the environment, you should forward the complaint in writing promptly and in any event no later than 14 days after discovery of the incident and marked for the attention of our service manager including the reasons for your complaint.  We will acknowledge your complaint within 5 working days and respond within 10 working days.</p>
            <p><strong>21.5</strong> We will not be liable if we are prevented or delayed in or from performing any of our obligations under the contract due to circumstances beyond our control such as but not limited to governmental acts, war, riots, strikes or trade disputes (including by and with our own employees), technical failure, general availability of the Internet, power failure, communications failure, weather, flood, fire or explosion, natural or local emergency.</p>
            <h3>Indemnity</h3>
            <p><strong>22.1</strong> You agree to fully indemnify and keep us fully indemnified from and against all actions, demands, costs (on a full indemnity basis), losses, penalties, damages, liability, claims and expenses (including but not limited to legal fees) whatsoever incurred by us arising from any of the following: </p>
            <ol>
                <li>your material breach of the Contract or your negligence;</li>
                <li>your misuse of the environment;</li>
            </ol>
            <p><strong>22.2</strong> In order for us to qualify for this indemnity, we agree to: </p>
            <ol>
                <li>promptly notify you after we learn of the suit or claim, and no delay by us in providing that notice materially prejudices your rights;</li>
                <li>give you authority to defend or settle the suit or claim; and</li>
                <li>give you all information and cooperation that you may reasonably requested concerning the suit or claim.</li>
            </ol>
            <h3>Liabilities Regarding the Environment</h3>
            <p><strong>23.1</strong>We shall have no liability to the you for any loss arising from any material, data or instructions supplied whether digitally or otherwise by the you or on your behalf which is incomplete, inaccurate, illegible, out of sequence or in the wrong form or arising from late arrival or non-arrival or any other fault by you or on your behalf.</p>
            <p><strong>23.2</strong>We are not responsible for any delay, malfunction, non-performance and/or other degradation of performance of the environment caused by or resulting from any alteration, modification and/or amendments due to changes and specifications requested or implemented by you.</p>
            <p><strong>23.3</strong> We will not be liable to you in contract or tort for any: </p>
            <ol>
                <li>loss of profit, data, business contracts, revenues or anticipated savings; or</li>
                <li>loss resulting from any claim made by any third party; or</li>
                <li>special, indirect or consequential loss or damage of any nature whatsoever.</li>
            </ol>
            <p><strong>23.4</strong> You shall not be liable to us in contract or tort for any special, indirect or consequential loss or damage of any nature whatsoever.</p>
            Termination of the Environment
            <p><strong>24.1</strong> Unless stated otherwise on the Order Form, The Contract is for a minimum period stated, which may be extended by the Renewal Period from time to time.  Commencement of the service starts with the environment being released to you and available for use. </p>
            <p><strong>24.2</strong> If you cancel or terminate the contract part way through the minimum period, you are obliged to pay for the environment for the entire minimum period, other than where termination occurs pursuant to clause 8.</p>
            <p><strong>24.3</strong> Thereafter, if you or we wish to cancel or terminate, this may be done by giving written notice as specified in the Commercial Terms section on the Order Form</p>
            <p><strong>24.4</strong> Upon termination or expiry of the contract we will immediately be due all amounts payable by you and we shall be entitled to immediately cease the provision of the environment.</p>
            <p><strong>24.5</strong> Upon natural expiry of the contract based upon your termination instructions under the Commercial Terms and subject to there being no outstanding invoices at the time, we will, if requested and subject to commercial terms to be agreed, forward extracts of your data as you may require for the ongoing pursuit of your business.</p>
            <p><strong>24.6</strong> Either party may terminate the contract under the terms of clause 8.</p>
            <h2>Part E - Services Clauses</h2>
            <h3>Services Applicability</h3>
            <p><strong>25.1</strong> The clauses under this section are applicable to Order Lines where the contract basis is either "Services", "Fixed Price", "Training" or "Support".  They are also applicable to any professional services rates specified in the "Rates" section of the Order Form.</p>
            Duties
            <p><strong>26.1</strong> We will:</p>
            <ol>
                <li>provide our services in accordance with the terms of the Order Form, it being agreed that dates and timelines included on or referenced by the Order Form are estimates only;</li>
                <li>provide personnel who have the required skill and expertise to provide the services;</li>
                <li>provide the services in a professional manner and conform to the standards generally observed in the industry for similar services;</li>
                <li>provide the services at such locations within the UK as you may reasonably require; and</li>
                <li>ensure that our staff and sub-contractors comply with all lawful and reasonable instructions which you may give them relating to health and safety, security and similar regulations applicable at premises owned or controlled by you</li>
            </ol>
            <p><strong>26.2</strong> You will:</p>
            <ol>
                <li>observe all requirements imposed on you by the Order Form;</li>
                <li>ensure that your staff co-operate fully with our staff;</li>
                <li>make all reasonable endeavours to progress your activities associated with the use of The Software including, but not limited to, testing, training, data cleaning/loading and other implementation tasks in a manner that is agreed and timely;</li>
                <li>supply our personnel with information and documents that they reasonably request;</li>
                <li>make available to our personnel such office and administrative facilities as are reasonably necessary for the proper performance of the services while they are working at premises owned or controlled by you;</li>
                <li>ensure that our personnel are made aware of all health and safety, security and similar regulations applicable at such premises;</li>
                <li>ensure that adequate security and virus checking procedures are in place in relation to any computer facilities which our personnel are provided access to;</li>
                <li>arrange the timely and competent input of third parties where, in our reasonable opinion, this is required in order to assist the resolution of a problem affecting the provision of the services;</li>
                <li>obtain all third party consents, licenses and rights required in order to allow us to perform the services required by the order form in relation to software not supplied by us;</li>
                <li>at all times remain responsible for system administration, security, back-ups, restores and recovery actions; noting that</li>
                <li>if you fail to perform any of your duties, we will not be responsible for any delay, cost increase or other consequences arising from that failure.</li>
            </ol>
            <p><strong>26.3</strong> If the services cover the development of functional changes to The Software that we have agreed to make and you have agreed to fund, we will jointly agree a functional specification describing the behaviour of The Software once the changes have been delivered.  This specification, once agreed, is a controlled document that is tied to the effort, estimated duration and cost of delivery of the new features.  </p>
            <p><strong>26.4</strong> If, at any time up to the point of acceptance, you propose a change to the agreed specification, we will document the impact of incorporating the change, both in terms of time and cost, and seek your permission to incorporate the revised features.  In the event that you consider the impact of incorporating a proposed change to be unacceptable, you can elect to either:</p>
            <ol>
                <li>Remove the change request and allow us to deliver the functionality as originally agreed; or</li>
                <li>Cancel the work, in which case the terms for early termination of services under clause 32 apply.</li>
            </ol>
            <h3>Project Documentation</h3>
            <p><strong>27.1</strong> If funded changes have been agreed to The Software, the following documentation shall be described on the Order Form as incorporated into the order for reference and to assist with the control of the services aspect of the order:</p>
            <ol>
                <li>The Functional Specification describing changes to The Software to be delivered via the services Order Lines;</li>
                <li>a Test Plan describing the sequence and manner of the acceptance testing of these changes; and</li>
                <li>a Project Timeline covering the activities of both parties required to deliver the work.</li>
            </ol>
            <h3>Acceptance</h3>
            <p><strong>28.1</strong> All software and/or other deliverables generated by us will be subject to testing and acceptance by you according to the Test Plan that both parties agree.  You will be responsible for progressing the Test Plan in a timely manner and reporting issues to us for discussion and resolution.  All reported issues must make specific reference to features described in the functional specification or the on-line documentation (if testing relates to existing functionality of The Software).  Any issues not relating to features and/or behaviours described in the Functional Specification will be treated by us as further change requests and priced accordingly for your approval.  </p>
            <p><strong>28.2</strong> All software shall automatically be deemed to be complete and have been accepted by you 30 days after delivery to your test environment unless we have received prior notification from you of any open Priority 1 or 2 level defects  (as defined in clause 17.6) or functional short-falls vs. the functional specification.</p>
            <h3>Fees and Expenses</h3>
            <p><strong>29.1</strong> Fees will be calculated in accordance with the rates specified on the Order Form, supported by approved time records if required and invoiced monthly in arrears unless specified otherwise.  Rates quoted are for work at our offices or at your site only.  Work at other locations will be subject to reasonable travel and expenses.</p>
            <p><strong>29.2</strong> Where rates are quoted on a daily basis, these day rates refer to our standard hours which are Monday to Friday 9am to 5:30pm with thirty minutes allowed for lunch.  For locations other than our offices or your site, we reserve the right to discount travel time from the standard day.  The following time charging rules apply:</p>
            <ol>
                <li>For daily rates, the minimum time charged is ¼ of one day for work at our offices and 1 day for work at your offices unless agreed otherwise;</li>
                <li>For hourly rates the minimum charge is ½ hour for work at our offices and 8 hours for work at your offices unless agreed otherwise;</li>
                <li>Where you request and we agree work be performed on a Sunday and/or a bank holiday, we reserve the right to increase the rate for that request by 50%; and</li>
                <li>Where the request uses rates specified in the Rates section of the Order Form, we will raise a specific issue ticket to cover the work and request specific prior approval to charge before commencing any work.  We will also comply with any purchase order referencing you need in order to control the work and your expenditure, however, we will not be liable for any delays resulting from your issuing of these purchase order references.</li>
            </ol>
            <p><strong>29.3</strong> For fixed price work (noted as "Fixed Price" contract basis on the Order Line), a milestone based payment schedule will generally be included on the Order Form.  Where no schedule is specified, we reserve the right to charge 20% on award, 70% on delivery and the final 10% upon acceptance or 30 days after delivery whichever occurs first.  Where milestone payments have not been defined (for instance for minor work), the full value of the fixed price may be invoiced on delivery in place of the standard milestone schedule.  We will clarify which model applies as part of agreeing the Order Form.</p>
            <p><strong>29.4</strong> For any Fixed Price Order Lines where a number of days or hours are quoted, these values are included as a measure of reasonableness based on the party’s agreement at the time of order execution.  If the actual effort exceeds the values included on the Order Form due to your actions, we reserve the right to charge the extra time at our then prevailing rates.</p>
            <p><strong>29.5</strong> Payment of fees and expenses is due 14 days following the date of the invoice in the currency stated on the order form.  Where the invoice amount is subject to dispute, you must inform us within 14 days and pay any undisputed portion within that period.  We will promptly review the invoice dispute and reply within a further 14 days with our response.</p>
            <p><strong>29.6</strong> We reserve the right to invoice via Credit Card payments in which case, payment will be due from your Credit Card upon invoice release.</p>
            <p><strong>29.7</strong> We reserve the right to increase the prices stated in the Rates section of the Order Form with effect from the anniversary date of the Order by the prevailing UK Consumer Prices Index unless otherwise stated on the Order Line Commercial Terms.</p>
            <p><strong>29.8</strong> The prices quoted on the Order Form are exclusive of VAT and/or other applicable purchase taxes. </p>
            <h3>Use of Subcontractors</h3>
            <p><strong>30.1</strong> We may sub-contract aspects of the services to third party companies at our discretion providing always that we retain full responsibility for delivery as though the work was performed by our own staff.  We will ensure that subcontractors execute agreements that bind them to the generic clauses stated herein.</p>
            <p><strong>30.2</strong> You will be bound by the same non-poaching conditions (clause 6.1 and 6.2) towards our subcontractors as towards our staff.</p>
            <h3>IPR</h3>
            <p><strong>31.1</strong> All IPR created by our staff in the course of provision of services by us under The Contract shall belong to us or our licensors.</p>
            <p><strong>31.2</strong> Any software that is delivered as a result of the provision of services under The Contract will be licensed on a non-exclusive basis for your use on the terms of contract existing between us.</p>
            <p><strong>31.3</strong> The Software is a product where all features are available to all customers.  Any features developed by us for you under clause 26.3 will be made available to all existing and future users of The Software.</p>
            <h3>Early Termination</h3>
            <p><strong>32.1</strong> You may terminate all or part of the services at any time by providing us with two weeks’ notice of that aspect of the services.</p>
            <p><strong>32.2</strong> Where the services are being provided on a fixed price basis, the next stage payment, or full amount in the event that stage payments are not being applied, will immediately become due.  </p>
            <p><strong>32.3</strong> We will provide deliverables of the maximum value from the work we have completed up to the date of termination on a best endeavours only basis where partial delivery is possible and makes sense to the functionality in The Software.</p>
            <p><strong>32.4</strong> If your first use of The Software is awaiting our delivery of changes under clause 26.3 and you subsequently cancel those changes, the minimum annual commitment to the use of The Software as described by the Order Form will remain valid and be due as described in the service initialisation conditions.</p>
            <p><strong>32.5</strong> In the event of early termination under this clause, clause 8.3(a) also applies for any time and materials work underway at the time of termination.</p>
            <h3>Failure to Deliver</h3>
            <p><strong>33.1</strong> Our failure to deliver changes to The Software in the agreed timeline incorporated under clause 27.1(c), providing however that such failure is not due to your failure to perform your duties under clause 26.2, will provide you the ability to place us in beach as described in clause 8.2 and clause 8.1(a) for the services covered by the Order Lines relating to that delivery only.  Our failure to remedy that breach as described in 8.2 and 8.1(a) will provide you with a right to terminate the related Order Lines, without the application of clause 32.  However, in that event, the feature(s) will not be delivered.</p>
            <p><strong>33.2</strong> In the event of our failure to remedy the breach under clause 33.1, all fees already paid by you for the terminated Order Lines will be refunded in full as your sole remedy.</p>
            <h2>Part F - Data Processing Clauses</h2>
            <h3>Applicability</h3>
            <p><strong>34.1</strong> These clauses cover the roles and responsibilities of the parties in respect to the hosting of your data by us on a third party environment operated by the Hosting Provider and as such are applicable only to Order Forms covering the same scope as Part D above.</p>
            <p><strong>34.2</strong> The relationship between the parties is one of us as the Hosted Software Provider to you, the controller of the processing of the data (Data Controller).  In this relationship, we will not, unless operating under specific instructions from you, view, edit or physically process any of your data.  We act as a data processor in the most general of senses, via The Software and our contractual relationship with the Hosting Provider.</p>
            <h3>Scope and Specification of Data Processing on Behalf</h3>
            <p><strong>35.1</strong> The scope and duration as well as the extent and nature of the collection, processing and use of personal data shall be as defined in the Order Form.</p>
            <p><strong>35.2</strong> Processing on behalf may include in particular, but not be limited to, the categories of personal data listed in the table below:</p>
            <table class="table table-bordered">
                <thead class="table-secondary">
                    <tr>
                        <th width="30%">Category of data</th>
                        <th width="30%">Purpose of collection, processing or use of data</th>
                        <th width="30%">Category of data subjects the data relates to</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Employee and Contractor system fields</td>
                        <td>In support of the operation of your business only</td>
                        <td>Employees and Contractors</td>
                    </tr>
                    <tr>
                        <td>Your specific custom fields added to Employee objects in the Software</td>
                        <td>Ditto</td>
                        <td>Ditto</td>
                    </tr>
                    <tr>
                        <td>Counterparty contacts fields</td>
                        <td>Ditto</td>
                        <td>Customer, Supplier and lead contacts</td>
                    </tr>
                </tbody>
            </table>
            <h3>Scope of Application and Distribution of Responsibilities</h3>
            <p><strong>36.1</strong> We shall, via our Hosting Provider, provide a processing service under your control (The Software) able to process personal data on your behalf.  The foregoing shall include the activities enumerated and detailed in the Order Form and in your use of The Software which we are not responsible for.  Within the scope of use of The Software and the Hosted Environment, you will be solely responsible for complying with the local statutory data privacy and protection regulations, including, but not limited to, the lawfulness of the transmission to our Hosting Provider and the lawfulness of your processing of the data.  You will be the Data Controller as defined in statute and as such the responsible body.</p>
            <p><strong>36.2</strong> Any instruction by you to your instance of The Software or to us, either directly or via us, related to processing (hereinafter, a "Processing Instruction") shall be covered by your responsibilities under 36.1 above and you shall be entitled to issue changes and amendments to Processing Instructions and to issue new Processing Instructions from time to time.  We reserve the right to refuse to comply with any Processing Instructions which we feel are outside the terms of the Order Form and/or statute.</p>
            <h3>Our Obligations</h3>
            <p><strong>37.1</strong> We will, through our Hosting Provider, and the license to you of the Software, all as generally specified on the Order Form, shall collect, process, and use data related to data subjects only within the scope of work and the Processing Instructions issued by you.</p>
            <p><strong>37.2</strong> We will, through our Hosting Provider, only within our joint scope of responsibility, structure our internal organisation and contractual relationships so that they comply with the specific requirements of the protection of your personal data.  We will implement and maintain contractual, technical and organisational measures necessary to discharge our responsibilities as the Software Owner to adequately protect your data in accordance with and satisfying the requirements of UK law.  These measures shall be more generally implemented as defined in the following list (in accordance with your direct responsibilities as the Data Controller and operator of the Hosted Environment):</p>
            <ol>
                <li>physical access control</li>
                <li>logical access control</li>
                <li>data access control</li>
                <li>data transfer control</li>
                <li>data entry control</li>
                <li>control of Processing Instructions</li>
                <li>availability control</li>
                <li>separation control</li>
            </ol>
            <p><strong>37.3</strong> We will be entitled to modify the security measures agreed upon, provided, however, that no modification shall be permissible if it derogates from the level of protection contractually agreed upon.</p>
            <p><strong>37.4</strong> Upon your request, and except where you are able to obtain such information directly, we will provide all information necessary for compiling statutory requests you may be called upon to provide in your role as data controller.  We reserve the right to charge you the cost of the provision of such information.</p>
            <p><strong>37.5</strong> Our personnel will only access your data under your specific instructions and for the purpose of issue resolution, where such an issue was raised by you and agreement was reached with you that such access is required to resolve the issue.  This data access will therefore be considered to be itself a Processing Instruction.  In this event, we will ensure that any personnel entrusted with accessing your data have undertaken to comply with the principle of data secrecy and have been duly instructed on the protective regulations imposed upon us under the Data Protection Act.  The undertaking to secrecy shall continue after the completion of the Processing Instruction.</p>
            <p><strong>37.6</strong> We will, without undue delay, inform you of any material breach of the regulations for the protection of your personal data, committed by us, our personnel and/or the Hosting Provider.  We will implement the measures necessary to secure the data and to mitigate potential adverse effects on the data subjects and shall agree upon the same with you without undue delay.  </p>
            <p><strong>37.7</strong> We will not use data transmitted to us for any purpose other than to fulfil our obligations under the Order Form.</p>
            <h3>Your Obligations</h3>
            <p><strong>38.1</strong> You warrant that you will follow the operating instructions in full regarding the use of the Software, our guidance and the issuing of Processing Instructions to same and at all times act according to the requirements of a Data Controller as defined in statute.</p>
            <p><strong>38.2</strong> You will, without undue delay and in a comprehensive fashion, inform us of any defect that you detect in the Software or any irregularity in the implementation of statutory regulations on data privacy.by us or our Hosting Provider all as more fully defined above.</p>
            <p><strong>38.3</strong> You will remain responsible for maintaining compliance with any and all local data protection legislation that applies to to the operation of your business and your responsibilities as a data controller.</p>
            Enquiries by Data Subjects
            <p><strong>39.1</strong> Where, in accordance with applicable data privacy laws, you are obliged to answer a data subject’s enquiry related to the collection, processing or use of such data subject’s data, we will support you if required in providing the required information.  The foregoing shall be apply only where you have specifically instructed us in writing or in text form, and where you agree to reimburse us for the cost and expenses incurred in providing such support.  Unless given such a Processing Instruction by you, we will directly respond to any enquiries of data subjects and shall refer such data subjects to back to you.</p>
            <p><strong>39.2</strong> Where a data subject requests us to correct, delete or block data, we will refer such request to you.</p>
            <h3>Audit Rights</h3>
            <p><strong>40.1</strong> Notwithstanding the conditions in the Order Form, you have the right to request us carry out an audit of our Hosting Provider for compliance with the terms of these terms.  We have the right to full recovery of the costs incurred in supporting any audit request by you.</p>
            <p><strong>40.2</strong> In the course of such audit, you may request us to conduct the following measures, but shall not be limited to the same:</p>
            obtain information from our Hosting Provider.
            request us to submit an existing attestation or certificate by an independent professional expert.
            <p><strong>40.3</strong> We will, at your written request and subject to your agreement to support the payment of associated costs and within a reasonable period of time, submit to you any and all information, documentation and other means of factual proof necessary for the conduct of an audit provided such action does not breach the terms of clause 5.</p>
            Subcontractors
            <p><strong>41.1</strong> As of the effective date of the Order Form, we have subcontracted the actual processing of the data to the Software Hosting Provider.  Within the subcontracted parts of the scope of work, these subcontractors provide the physical environment that directly processes your data but without logical access to The Software or the data processed therein.  Your approval of our use of the Hosting Provider (and any other as we may choose from time to time) shall be deemed given.</p>
            <h3>Duties to Notify, Mandatory Written Form</h3>
            <p><strong>42.1</strong> Where your data becomes subject to search and seizure, an attachment order, confiscation during bankruptcy or insolvency proceedings, or similar events or measures by third parties while on an environment delivered by any Hosting Provider under our control, we will notify you of such action without undue delay.  We will also, again without undue delay, notify to all pertinent parties in such action, that any data affected thereby is in your sole property and area of responsibility, that data is at your sole disposition, and that you are the responsible body in the sense of the definition of data controller.</p>
            <p><strong>42.2</strong> No modification of this Part F and/or any of its components – including, but not limited to, our representations and warranties, if any – shall be valid and binding unless made in writing and then only if such modification expressly states that such modification applies to the operation of this Part F. The foregoing shall also apply to any waiver or modification of this mandatory written form.</p>
        </div>
    </div>
</div>
